fastapi
uvicorn
requests
pdfplumber
PyMuPDF
pandas
python-dotenv
supabase
serpapi
fuzzywuzzy
beautifulsoup4
python-multipart
aiohttp
redis
google-search-results
pydantic-settings
neo4j==6.0.3
py2neo==2021.2.4
